body{

}

.hero-img {
    background-image: url("../public/background-image.png");
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.2;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 16px;
}

.logo {
    display: flex;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans';
    font-weight: bold;
    margin-top: 16px;
}

.left-nav {
    display: flex;
    margin-left: 173px;
    align-items: center;
}

.left-menu {
    display: flex;
    gap: 32px;
}

.left-menu li a {
    color: black;
}

.right-icons {
    margin-right: 162px;
    display: flex;
    gap: 16px;
    align-items: center;
}


.logo-name {
    margin-top: 6px;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.hero-content {
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    margin-top: 84px;
}

.first-sentence {
    font-weight: 400;
    font-size: 30px;
    margin: auto;
}

.second-sentence {
    font-weight: 700;
    font-size: 80px;
    margin: auto;
    font-family: 'Jost';
}

.hero-media {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 54px;
}

.hero-media  img {
    opacity: 1;
}

.hero-contain button {
    position: absolute;
    padding: 18px 60px 14px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: bold;
}
.hero-contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-deals {
    margin-top: 99px;
}

.best-deal-text {
    text-align: center;
    font-weight: bold;
    font-family: "jost";
    font-size: 39px;
}

/*.best-deal-slider {*/
/*    margin-top: 56px;*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.img-div {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0px 52px 0px;*/
}

.view-all-button {
    text-align: center;
    margin-top: 56px;
}

.best-deals {
    font-family: "Jost";
}

.view-all-button button{
    border: none;
    color: white;
    background-color: black;
    padding: 18px 70px 14px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Jost';
}

.slider-text {
    font-weight: bold;
    font-size: 25px;
}

.slider-deleted-price {
    color: #9E9E9E;
    font-weight: 400;
    font-size: 20px;
    margin-right: 5px;
}

.slider-price {
    color: #FF705C;
    font-weight: bold;
    font-size: 20px;
}

.price-name-div {
    text-align: center;
}