.heroImg {
    background-image: url("../public/background-image.png");
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.leftMenu a {
    text-decoration: none;
}

.listStyle {
    list-style-type: none;
}

.listStyle li {
    margin-left: 16px;
}

.logo {
    display: flex;
    gap: 10px;
}

.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans';
    font-weight: bold;
    margin-top: 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navSection {
    display: flex;
    justify-content: center;
}

.leftNav {
    display: flex;
    /*margin-left: 173px;*/
    align-items: center;
}

.leftMenu {
    display: flex;
    gap: 32px;
}

.leftMenu li a {
    color: black;
}

.rightIcons {
    /*margin-right: 162px;*/
    display: flex;
    gap: 16px;
    align-items: center;
}


.logoName {
    margin-top: 6px;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.menuModel {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    /*background-color: black;*/
}

/*.menuTest:hover ~ .menuModel {*/
/*    display: block;*/
/*}*/

.menuListDiv {
    margin-top: 83px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.leftMenuListDiv {
    display: flex;
    gap: 316px;
    width: 100%;
}

.leftMenuListHeading {
    color: #1B2437;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.leftMenuSubListDiv {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.leftMenuLists {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #8E8E93;
    font-weight: 400;
    font-size: 16px;
}

.leftMenuLists p {
    cursor: pointer;
}

.heroContent {
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    margin-top: 84px;
}

.firstSentence {
    font-weight: 400;
    font-size: 30px;
    margin: auto;
}

.secondSentence {
    font-weight: 700;
    font-size: 80px;
    margin: auto;
    font-family: 'Jost';
}

.heroMedia {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 54px;
    position: relative;
    z-index: -1;
}

.heroContain button {
    position: absolute;
    padding: 18px 60px 14px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: bold;
}
.heroContain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bestDeals {
    margin-top: 99px;
}

.bestDealText {
    text-align: center;
    font-weight: bold;
    font-family: "jost";
    font-size: 39px;
}

.bestDealSlider {
    width: 80%;
    margin: auto;
}

.imgDiv {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0px 52px 0px;*/
}

.viewAllButton {
    text-align: center;
    margin-top: 56px;
}

.bestDeals {
    font-family: "Jost";
}

.viewAllButton button{
    border: none;
    color: white;
    background-color: black;
    padding: 18px 70px 14px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Jost';
}

.sliderText {
    font-weight: bold;
    font-size: 25px;
}

.sliderDeletedPrice {
    color: #9E9E9E;
    font-weight: 400;
    font-size: 20px;
    margin-right: 5px;
}

.sliderPrice {
    color: #FF705C;
    font-weight: bold;
    font-size: 20px;
}

.priceNameDiv {
    text-align: center;
}

.exclusiveSection {
    margin-top: 100px;
    font-family: 'Jost';
}

.exclusiveItems {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exclusiveFirstItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.exclusiveFirstItemDiv {
    width: 786px;
    height: 782px;
    background-color: #EEEEEE;;
}

.ExploreButton{
    border: none;
    align-items: center;
    padding: 18px 60px 14px;
    background-color: #212121;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}

.exclusiveFirstItemContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusiveText {
    font-weight: bold;
    color: #616161;
    font-size: 39px;
    text-align: left;
}

.exclusiveHeading {
    font-weight: bold;
    font-size: 61px;
    color: #212121;
}

.exclusiveParagraph {
    word-wrap: break-word;
    width: 400px;
}

.outfitImage {
    object-fit: cover;
    width: 786px;
    height: 782px;
}

.outfit {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.outfitView {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.8) 0%, rgba(33, 33, 33, 0) 100%);

}

.outfit a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    display: flex;
    gap: 11px ;
    align-items: center;
}

.exclusiveSecondItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.exclusiveDifferentItems {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.itemName {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.7) 0%, rgba(33, 33, 33, 0) 100%);
    width: 100%;
    height: 50%;
}

.itemName a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    gap: 11px ;
    align-items: center;
}

.checkoutSection {
    margin-top: 100px;
}

.checkoutNewArrivalsSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Jost';
}

.checkoutSliderItems {
    width: 84%;
    margin: auto;
    gap: 8px;
}

.checkoutHeading {
    font-weight: bold;
    color: #212121;
    font-size: 39px;
}

.checkoutItem {
    position: relative;
    display: flex !important;;
    justify-content: center;
    align-items: flex-end;
}

.checkoutItemDetails {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 98%;
    height: 50%;
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.7) 0%, rgba(33, 33, 33, 0) 100%);
}

.checkoutItemText {
    margin-left: 23px;
    text-align: left;
}

.checkoutItemFirstText {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.checkoutItemSecondText {
    font-weight: 400;
    font-size: 20px;
    color: #E0E0E0;
}

.checkoutItemPrice {
    font-weight: bold;
    font-size: 20px;
    color: #FFA15C;
}

.shopByCategoryActions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 50px;
}

.shopByCategoryActions button {
    border: none;
}

.genderAction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.genderAction button {
    padding: 10px 0px 20px;
    background: white;
    border-bottom: 1px solid gray;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Jost';
}

.categoryAction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.categoryAction button {
    padding: 14px 24px;
    background: white;
    border: 1px solid #F5F5F5;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Jost';
}

.collectionSection {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    gap:11px;
    font-family: 'Jost';
}

.collectionItems {
    position: relative;
    display: flex;
    justify-content: left;
}

.collectionTextDiv {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 25%;
}

.collectionText {
   margin-left: 70px;
    line-height: 8px;
}

.collectionItem1LinearGradiant {
    background: linear-gradient(180deg, rgba(33, 33, 33, 0.7) 0%, rgba(33, 33, 33, 0) 100%);
}

.collectionItem2LinearGradiant {
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.7) 0%, rgba(33, 33, 33, 0) 100%);
}

.summerSection {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Jost';
}

.summerPoster {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.summerPosterText {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 100%;
    height: 25%;
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.7) 0%, rgba(33, 33, 33, 0) 100%);
}

.summerItem {
    position: relative;
    display: flex;
    justify-content: left;
}

.summerItemText {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: left;
    background: linear-gradient(180deg, rgba(33, 33, 33, 0.7) 0%, rgba(33, 33, 33, 0) 100%);
}

.summerItemsText {
    font-weight: bold;
    color: white;
    font-size: 39px;
    margin-left: 64px;
}

.GentleFormalExplore {
    width: 786px;
    height: 782px;
}

.postView {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-direction: column;
    width: 521px;
    height: 1009px;
    position: relative;
}

.postUserDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 80%;
    justify-content: flex-end;
}

.postUser {
    display: flex;
    background: #FCFCFC;
}

.socialCountDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 34px 0 34px;
    gap: 32px;
}

.socialCount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.postNumberCount {
    font-weight: 400;
    font-size: 20px;
}

.postContentDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.postContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.postUserName {
    font-weight: bold;
    font-size: 16px;
}

.postUserProfession {
    font-weight: 400;
    font-size: 16px;
    color: #424242;
}

.postContentHeading {
    font-weight: bold;
    font-size: 31px;
    color: #212121;
}

.postContentDate {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: #424242;
}

.postContentReadMore {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.postViewSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 100px;
}

.postViewReadMore {
    font-weight: bold;
    font-size: 16px;
    color:#424242;
    text-decoration: none;
}

.footer {
    font-family: 'Jost';
    margin-top: 100px;
}

.visitOutletDiv {
    position: relative;
    display: flex;
}

.outlet {
    position: absolute;
    background: #212121;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.outletSliderDiv {
    line-height: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.outletAddress {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footerSecondSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footerLinkHeading {
    font-weight: bold;
    font-size: 20px;
}

.footerLinkText {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footerLinkText a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #616161;
}

.footerSignupSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 41px;
}

.footerContactSection {
    display: flex;
    flex-direction: column;
}

.footerContactDiv {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.footerSocialSection {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.footerEmailInput {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerEmailInput svg {
    position: absolute;
    margin-right: 16px;
}

.footerSocialMedia {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}